<h1 class=" m-3" >Stupid coach</h1>
<p class=" m-3 p-3"><%= @answer %> <br>- Your coach </p>
<div class="m-3 btn btn-warning" style="text-decoration: none;">
  <%= link_to" return to ask", "ask"%>
</div>
