<form action="/answer" data-turbo="false">
  <div style="text-align: start;">
      <h1 class=" ms-5" >Stupid coach</h1>
      <h5 class="text-secondary ms-5 " > ask your cooch anything :<h3>
      <input class=" w-75 p-3 ms-3 " type="text" name="answer" placeholder="Answer ?">
      <input class="btn btn-primary p-3 " type="submit" value="Ask!">
   </div>
</form>
